<form class="border border-light p-5" {{action "update" on="submit"}}>
  <div class="form-row mb-4">
      <div class="col-xs-2">
        <label for="Height">Height (cm)</label>
        {{input type='number' class="form-control mb-4 rounded-0" min="60" max="300" maxlength="3" size="3" value=measurements.height}}
      </div>
      <div class="col-xs-2">
        <label for="Height">Waist Width (cm)</label>
        {{input type='number' class="form-control mb-4 rounded-0" min="60" max="300" maxlength="3" size="3" value=measurements.waistWidth}}
      </div>
      <div class="col-xs-2">
        <label for="Height">Shoulder Width (cm)</label>
        {{input type='number' class="form-control mb-4 rounded-0" min="60" max="300" maxlength="3" size="3" value=measurements.shoulderWidth}}
      </div>
  </div>
  <div class="form-row mb-4">
    <div class="col-xs-2">
      <label for="Height">Arm Length (cm)</label>
      {{input type='number' class="form-control mb-4 rounded-0" min="60" max="300" maxlength="3" size="3" value=measurements.armLength}}
    </div>
    <div class="col-xs-2">
      <label for="Height">Arm Width (cm)</label>
      {{input type='number' class="form-control mb-4 rounded-0" min="60" max="300" maxlength="3" size="3" value=measurements.armWidth}}
    </div>
    <div class="col-xs-2">
      <label for="Height">Under Bust (cm)</label>
      {{input type='number' class="form-control mb-4 rounded-0" min="60" max="300" maxlength="3" size="3" value=measurements.underBust}}
    </div>
  </div>
  <div class="form-row mb-4">
    <div class="col-xs-2">
      <label for="Height">Over Bust (cm)</label>
      {{input type='number' class="form-control mb-4 rounded-0" min="60" max="300" maxlength="3" size="3" value=measurements.overBust}}
    </div>
    <div class="col-xs-2">
      <label for="Height">Hip Width (cm)</label>
      {{input type='number' class="form-control mb-4 rounded-0" min="60" max="300" maxlength="3" size="3" value=measurements.hipWidth}}
    </div>
    <div class="col-xs-2">
      <label for="Height">Thigh Width (cm)</label>
      {{input type='number' class="form-control mb-4 rounded-0" min="60" max="300" maxlength="3" size="3" value=measurements.thighWidth}}
    </div>
  </div>
  <div class="form-row mb-4">
    <div class="col-xs-2">
      <label for="Height">Calf Width (cm)</label>
      {{input type='number' class="form-control mb-4 rounded-0" min="60" max="300" maxlength="3" size="3" value=measurements.calfWidth}}
    </div>
    <div class="col-xs-2">
      <label for="Height">Leg Length (cm)</label>
      {{input type='number' class="form-control mb-4 rounded-0" min="60" max="300" maxlength="3" size="3" value=measurements.legLength}}
    </div>
    <div class="col-xs-2">
      <label for="Height">Wrist Width (cm)</label>
      {{input type='number' class="form-control mb-4 rounded-0" min="60" max="300" maxlength="3" size="3" value=measurements.wristWidth}}
    </div>
    <div class="col-xs-2">
      <label for="Height">Ankle Width (cm)</label>
      {{input type='number' class="form-control mb-4 rounded-0" min="60" max="300" maxlength="3" size="3" value=measurements.ankleWidth}}
    </div>
  </div>
  <button class="btn btn-info btn-block" type="submit">Save</button>
</form>
